body {
  background-color: #f2efe5;
  color: #555;
  overflow-x: hidden;
}

button.header-btn {
  background-color: #f2efe5;
  font-size: 130%;
  text-transform: uppercase;
}

.form-btn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-family: 'Cinzel', serif;
  font-weight: 500;
  background-color: #cdcbcb;
  font-size: 18px;
  &:hover {
    background-color: #7d7d7f;
    transition: 1s;
  }
}

.input-label {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

.input-field {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 10px;
}

.exit-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;

  &__btn {
  width: inherit;
  height: inherit;
  opacity: 50%;
  }
}
